{% extends 'base.html' %}
{% block content %}
<div class="card mb-3" style="background-color: #bfa6f9;">
    <div class="row g-0">
        <div>
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <p class="card-text">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.username.label_tag }} {{ form.username }}
                        {{ form.password.label_tag }} {{ form.password }}
                        
                        <!-- Add the input field for the profile picture -->
                        <input type="file" name="profile_picture" accept="image/*" class="form-control">
                        
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    
                    <form method="POST" action="{% url 'recoverpassword' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Forgot password?</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}